/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/cyborg/variables";
@import "bootstrap";
@import "bootswatch/cyborg/bootswatch";


//general styles
// body {
//   background-color: dodgerblue;
// }

//Movie index style
.movies {
  margin: 30px;
}

//Movie view styles

.movie {
  padding: 30px
}

.synopsis {
  margin-left: 20px;
}

// review styles
.review {
  margin: 10px;
  padding: 100px;
}

.review a {
  margin: 10px;
}

// log-in and signup classes

.sign-in, .sign-up {
  width: 300px;
  height: 300px;
}
